/*******************************
            Global
*******************************/

html, body {
  font-family: "Lato", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Merriweather", Times New Roman, serif;
}


.button {
  background-color: #59ae82;
  color: white;
  padding: 10px 24px;
  margin: 30px auto;
  font-size: bold;
  border-radius: 4px;
  box-shadow: 0;

}
.button:hover {
  background-color: white ; /* Green */
  color: #59ae82;
}

/* .nested {
  display: grid;
} */



/*******************************
              Page
*******************************/

.hero {
  height: 560px;
  background-color: #e0f1e9;
  padding-top: 30px;

}

.page {
  height: 1080px;
}

.footer {

}


/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {


}


/* Tablet */
@media screen and (max-width: 1024px) {

}

/* Mobile */
@media only screen and (max-width: 767px) {
}
